<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RAppID_BL.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RAppID_BL.UserSettings>
            <setting name="LastFileDir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="RecentFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFile3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFile4" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentFile5" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSwFileDir" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="LastIntfType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastCommCh" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastBaudRate" serializeAs="String">
                <value>500000</value>
            </setting>
            <setting name="LastCommMode" serializeAs="String">
                <value>Vector CANcaseXL</value>
            </setting>
            <setting name="LastAppFileDir" serializeAs="String">
                <value>C:\</value>
            </setting>
        </RAppID_BL.UserSettings>
    </userSettings>
</configuration>